<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style>
    body{
        font-family: 'monaco', monospace;
    }
    </style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
      <tr>
        <td align="center" valign="top">
            <h1 class="header">{{ headline }}</h1>
            <h3 class="header">{{ content.date }}</h3>

            <h2 class="header">{{ content.title }}</h2>
            {% for item in content.content %}
            <div>
                <hr/>
                <h3 class="category">{{ item.category }}</h3>
                {% for story in item.stories %}
                <div>
                    <h4><a target="_blank" href="{{ story.Link }}">{{ story.Title }}</a> ({{ story.Time }} min)</h4>
                    <p>
                        {{ story.Description }}
                    </p>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <br />
            <a href="{{ permalink }}">permalink</a>
            <a href="https://unpack.tech">home</a>
        </td>
      </tr>
    </table>
    <p>
        <a href="{$unsubscribe_link}" style="color: #000000; font-size: 12px; text-decoration: underline;">Unsubscribe</a>
    </p>
  </body>
</html>