<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ headline }} / {{ content.date }}</title>
    <style>
    body{
        font-family: 'monaco', monospace;
        text-align: center;
    }
    </style>
  </head>
  <body>
    <h1 class="header">📦 {{ content.title }}</h1>
    {% if content.description %}
    <h3>{{ content.description }}</h3>
    {% endif %}
    {% for item in content.content %}
    <div>
        <hr/>
        <h3 class="category">{{ item.category }}</h3>
        {% for story in item.stories %}
        <div>
            <h4><a target="_blank" href="{{ story.Link }}">{{ story.Title }}</a> ({{ story.Time }} min)</h4>
            <p>
                {{ story.Description }}
            </p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    <img src="./logo-small.png" style="width:150px;"/>
  </body>
</html>