{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="box">
            <h1 class="header">{{ headline }}</h1>
            <h3 class="punchline"><span id="punchline">{{ punchline }}</span></h3>
            <btn id="subscribe-button" class="btn">subscribe</btn>
        </div>
    </div>
    <script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>
    <script>
    // Wow, you read sources!
    // Say hi to https://mattboldt.com/ when you meet him - the below is his brain child
    setTimeout(function() {
    var typed = new Typed('#punchline', {
        strings: [
{%- for line in punchlines %}
            "{{ line }}",
{%- endfor %}
        ],
        smartBackspace: true,
        backDelay: 500,
        typeSpeed: 33,
        backSpeed: 5,
        //startDelay: 3000,
    })}, 2000);
    </script>
{% endblock %}

{% block head %}
    <!-- Email management -->
    <script>
        (function (s, e, n, d, er) {
            s['Sender'] = er;
            s[er] = s[er] || function () {
            (s[er].q = s[er].q || []).push(arguments)
            }, s[er].l = 1 * new Date();
            var a = e.createElement(n),
                m = e.getElementsByTagName(n)[0];
            a.async = 1;
            a.src = d;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://cdn.sender.net/accounts_resources/universal.js', 'sender');
        sender('ec1e5e1aef7433')
    </script>
{% endblock %}
